x_observer_location_in_kpc = 8.
y_observer_location_in_kpc = 0.
z_observer_location_in_kpc = 0.

radial_bin_size_in_kpc = 1.0

longitudinal_grid_minimum_in_degrees = 0
longitudinal_grid_maximum_in_degrees = 360
number_of_longitudinal_grid_points = 128

latitudinal_grid_minimum_in_degrees = -90
latitudinal_grid_maximum_in_degrees = 90
number_of_latitudinal_grid_points = 64
