x_observer_location_in_kpc = 8.
y_observer_location_in_kpc = 0.
z_observer_location_in_kpc = 0.

# the direction in which the observer looks
line_of_sight_longitude_in_degrees = 180.
line_of_sight_latitude_in_degrees = 0.

radial_bin_size_in_kpc = 0.001

# determines the number of pixels of the gamma sky
healpix_order = 5
